.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	font-size: 15px;
}

.nav a {
	text-decoration: none;
	color: black;
}

.nav a:hover {
	text-decoration: none;
	color: deepskyblue;
}