@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    font-family: 'Play', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    height: 750px;
    width: 950px;
    text-align: center;
}
